/* CSS Document */
body {
	color: #3c3c3c;
	font-size: 12px;
	width: 100%;
	background: #fff;
	font-family: "微软雅黑";
}
#container{
	width:100%;
	display:table;
}
/*header*/
.header {
	/*width: 1260px;*/
	width: 100%;
	height: 80px;
	line-height: 80px;
}
.header1 .menu{
	display:inline-block;
	height:80px;
}
.header .menu1{
	display:inline-block;
	height:80px;
}
.header .mn{
	background:url(../images/icon4.png) no-repeat right;
}
.header .manage{
	position:absolute;
	right:0px;
	top:60px;
	padding-top:15px;
	padding-bottom:15px;
	background:#fff;
	border: 1px solid #e4e4e4;
	width:120px;
	z-index:101;
}
.header .manage li{
	text-align:center;
	height:32px;
	line-height:32px;
}
.header1 {
	display: none;
}
.hotline {
	background: url(../images/phoneh.png) no-repeat 0 30px;
}
.headerbg {
	width: 100%;
	height: 4px;
	background: url(../images/headerbg.jpg) repeat-x 0 0;
}

/*tab切换内容*/
.tab {
	width: 100%;
	margin: 25px auto 50px auto;
	float:left;
}
.tabTit{
	width:160px;
	float:left;
}
.tabTit li {
	width: 160px;
	*width:140px;
	text-align: left;
	padding-left:20px;
	*margin-left:-20px;
	line-height: 35px;
	*height:45px;
	*line-height: 45px;
	font-size:14px;
}
.tabTit li a{
	display:block;
	width: 160px;
	*width:140px;
	text-align: left;
	line-height: 35px;
	*height:45px;
	*line-height: 45px;
	font-size:14px;
}
/*账户首页*/
.tabTit h2{
	font:16px "微软雅黑";
	padding-left:20px;
	width:160px;
	*width:140px;
	height:38px;
	line-height: 38px;
	background:#f2f2f2;
	margin-bottom:0;
	margin-top:0;
}
.tabTit h3{
	padding-left:20px;
	font:14px "微软雅黑";
	background:url(../images/h3bg1.jpg) no-repeat;
	width:160px;
	*width:140px;
	height:35px;
	line-height: 35px;
	margin-top:0;
	margin-bottom:5px;
	color:#fff;
	cursor:pointer;
}
.tabTit h3.bg{
	background:url(../images/h3bg2.jpg) no-repeat;
}
.tabTit div{
	padding-left:20px;
	display:none;
}
.tabTit h3.three{
	*margin-left:-20px;
	margin-top:5px;
	*position:relative;
}
.tabTit li:hover{
	cursor: pointer;
}
.tabTit1 li:hover{
	cursor:pointer;
	color:#ff4a00;
}
.tabTit .last{
	color:#fff;
	background:#ff4a00;
	display:block;
	width:160px;
	*width:140px;
	height:35px;
	*height:45px;
	*line-height:45px;
	margin-left:-20px;
	padding-left:20px;
	margin-top:5px;
}
.tabTit .select,.tabTit .select .last {
	color: #ff4a00;
}
.tabCon div{
	float:left;
	width: 1050px;
	display: none;
}
.tabCon .show {
	display: block;
	float:left;
	width: 1050px;
}


/*完善信息弹窗*/
#wanshan{
	display:block;
	width:350px;
	height:280px;
	background:#fff;
	border-top:1px solid #46baff;
}
.modal-content{
	width:350px;
	height:280px;
}
#wanshan .modal-content a.close{
	width:16px;
	height:16px;
	top:0px;
	right:15px;
	background:url(../images/close.png) no-repeat;
	z-index:2;
}
#wanshan a.close:hover{
	background:url(../images/closeh.png) no-repeat;
}
.modal-body{
	width:240px;
	margin:0 auto;
	height:280px;
}
.modal-body input{
	border:1px solid #e4e4e4;
}
#delete{
	display:block;
	width:350px;
	height:100px;
	background:#fff;
	border-top:1px solid #46baff;
}
#delete .modal-content a.close{
	width:16px;
	height:16px;
	top:0px;
	*top:20px;
	right:15px;
	background:url(../images/close.png) no-repeat;
	z-index:2;
}
#delete a.close:hover{
	background:url(../images/closeh.png) no-repeat;
}
.modal-content{
	width:350px;
	height:100px;
}
.modal-body{
	width:240px;
	margin:0 auto;
	height:100px;
}
.delete{
	cursor:pointer;
}

/*弹窗样式*/
#wshan{
	display:block;
	width:350px;
	height:200px;
	background:#fff;
	border-top:2px solid #46baff;
}
#wshan .modal-content a.close{
	width:16px;
	height:16px;
	top:10px;
	*top:20px;
	right:15px;
	background:url(../images/close.png) no-repeat;
	z-index:2;
}
#wshan a.close:hover{
	background:url(../images/closeh.png) no-repeat;
}
#wshan .modal-content{
	width:350px;
	height:100px;
}
#wshan .modal-body{
	width:240px;
	margin:0 auto;
	height:100px;
}
/*版权*/
.footer {
	width: 100%;
	display:table;
	height: 378px;
	background: url(../images/footerbg.jpg) repeat-x;
	*margin-top:50px;
}
.foot {
	width: 1260px;
}
.footer .nav {
	width: 1075px;
	height: 185px;
}
.footer .kfdh {
	width: 180px;
}
.footer .hr {
	height: 2px;
	width: 950px;
	background: url(../images/ulbg.jpg) repeat-x;
}
.footer .nav li {
	width: 200px;
	text-align: left;
	padding-bottom: 15px;
}
.footer li a, .footer p a,.footer1 li a,.footer1 p a {
	color: #aaa;
}
.footer li a:hover, .footer p a:hover,.footer1 li a:hover,.footer1 p a:hover {
	color: #ff4a00;
}
.footer .kfdh p.first,.footer1 .kfdh p.first{
	background: url(../images/phone.png) no-repeat 0px 2px;
}
.footer .subnav ul {
	width: 200px;
}
.footer .subnav li {
	border: none;
	text-align: left;
	padding-bottom: 5px;
}
.footer ul.ft{
	width:990px;
	margin:20px auto;
}
.footer .ft li{
	margin-right:40px;
	line-height:40px;
	font-size:14px;
	color:#aaa;
	padding-top:20px;
}
.footer .ft img{
	vertical-align:middle;
	margin-right:10px;
}
.tzrx{
	color:#aaa;
	font-size:14px;
	margin-top:40px;
	margin-bottom:0px;
}
.bgdh{
	color:#aaa;
	font-size:14px;
	margin-top:0px;
}
.footer .copyright {
	width: 100%;
}
.footer1 {
	display: none;
}
.footer2 p a {
	color: #aaa;
}
.footer2 p a:hover {
	color: #ff4a00;
}

/*jiathis*/
.jiathis_style .centerBottom {
	display: none;
}
.jiathis_style>div{
	box-sizing:content-box;
}
/*下拉框*/
select option{
	padding-left:12px;
}

@media screen and (min-width: 1260px) {
	.header {
		width: 1260px;
		/*width: 100%;*/
	}
}