
.icon-phone:before { content: '\e800'; } /* '' */
.icon-wechat:before { content: '\e804'; } /* '' */
.icon-weibo:before { content: '\e805'; } /* '' */
.icon-qq:before { content: '\e806'; } /* '' */